{% import "macros/article.html" as article %}



{% extends "base.html" %}

{% block headtitle %}{{ section.title }}{% endblock headtitle%}
{% block title %}{{ section.title }}{% endblock title%}
{% block content %}

<!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
<div class="posts">
  {% for year, posts in section.pages | group_by(attribute="year") %}
    <h2>{{ year }}</h2>

    <ul>
    {% for post in posts %}
        <li><a href="{{ post.permalink }}">{{ post.title }}</a>
          {{ article::article_info(page=post)}}
        </li>
    {% endfor %}
    </ul>
{% endfor %}
</div>
{% endblock content %}
